<mat-form-field style="margin-top: 10px;width: 190px;">
    <mat-label>Choose an action</mat-label>
    <mat-select [(value)]="action_selected" [disabled]="!is_any_task_selected" >
      <mat-option value="option1">Edit</mat-option>
      <mat-option value="option2">Drop</mat-option>
    </mat-select>
  </mat-form-field>
<mat-form-field class="example-form-field" style="float: right; margin-top: 10px;width: 200px;">
    <input matInput type="text" [(ngModel)]="searchTerm" (input)="onFilterChange()" placeholder="search your task ..."  style="text-align: right;">
    @if (searchTerm) {
      <button matSuffix mat-icon-button aria-label="Clear" (click)="emptyFilter()">
        <mat-icon>close</mat-icon>
      </button>
    }
</mat-form-field>
<div style="clear: right;"></div>

<table class="table table-bordered" style="">
    <thead class="table-primary">
        <tr>
            <th scope="col" style="width: 7%!important;text-align: center;">#</th>
            <th scope="col" style="width: 20%!important;">Task title</th>
            <th scope="col" style="width: 18%!important;">Task editor(s)</th>
            <th scope="col" style="width: 25%!important;">Task description</th>
            <th scope="col" style="width: 15%!important;">Creation time</th>
            <th scope="col" style="width: 15%!important;">Last update</th>
        </tr>
    </thead>
    <tbody>
        @for(task of filteredItems$ | async; track task.id){
            <tr>
                <th scope="row">
                    <mat-checkbox color="accent" class="example-margin" (change)="onCheckboxChange($event,task)"></mat-checkbox>
                </th>
                <td>{{task.title}}</td>
                <td>{{task.editor}}</td>
                <td>{{(task.description.length>30)? (task.description | slice:0:30)+'...':(task.description)}}</td> 
                <td>{{task.creation_time}}</td>
                <td>{{task.last_modification_time}}</td>
            </tr>
        }   
    </tbody>
  </table>