<div class="reminder-wrapper">
    <div class="reminder-object">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="alarm"></mat-icon>
        <span class="alarm-time">05.Am Monday</span>
        <span class="badge alarm-title">Task: Implement User...</span>
    </div>  
    <div class="reminder-object reminder-add-btn">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="alarm_add"></mat-icon>
        <span class="badge">create a new reminder</span>
    </div>    
</div>

