<div class="note_edition_wrapper">
    <mat-form-field appearance="outline" class="custom-color">
        <input matInput placeholder="search for a task, then">
    </mat-form-field>
    <div class="note_edition_header">
        <h5>Task: Implement User Authentication</h5>
        <div class="edition-action">
            <button type="button" class="btn btn-primary">
                <i class="ph ph-play-circle"></i> start
            </button>
            <button type="button" class="btn btn-secondary">
                <i class="ph ph-stop-circle"></i> stop
            </button>
        </div>
    </div>
    <textarea class="note_editable_section" name="" id=""></textarea>
    <div class="coeditor-section">
        <div class="editor-profile">N</div>
        <div class="editor-detail">
            <p>Nathan</p>
            <p>is writting ...</p>
        </div>
    </div>
</div>
