
<div class="wrapper" style="padding-bottom: 20px;">
    <div class="h-100 p-5 bg-light border rounded-3" style="padding-bottom: 30px;margin-bottom: 20px;">
      <h1 class="display-4">Welcome to <strong>Taskalert v2</strong></h1>
      <hr class="my-4">
      <p>Utilize the navigation bar below to go through our site and of course <em>have fun!</em></p>
      <!-- <a href="#" class="btn btn-outline-info btn-lg " tabindex="-1" role="button" aria-disabled="true">
        <i class="ph-bold ph-user" style="font-size:18px;margin-right: 3px;"></i>
        Login
      </a> -->
    </div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb" style="position: relative;">
        <li class="breadcrumb-item" [class.active]="isActive('/')">
          <a routerLink="/"> <i class="ph-fill ph-house-line"></i> Home</a>
        </li>
        <li class="breadcrumb-item" [class.active]="isActive('/tasks')">
          <a routerLink="/tasks"> <i class="ph ph-clipboard-text"></i> My Tasks</a>
        </li>
        <li class="breadcrumb-item" [class.active]="isActive('/reminders')">
          <a routerLink="/reminders"> <i class="ph ph-bell-simple-ringing"></i> Reminders</a>
        </li>
        <li class="breadcrumb-item" [class.active]="isActive('/collab')">
          <a routerLink="/collab"> <i class="ph ph-coffee"></i> Collab writting</a>
        </li>
        <li class="breadcrumb-item"><a href="https://nkml.pythonanywhere.com/api/schema/swagger-ui/" target="_blank" style="position:absolute;right:10px;"><i class="ph-fill ph-arrow-square-out"></i>API documentation</a></li>
      </ol>
    </nav>

  

    
    <section>
        <router-outlet />
    </section>
  </div>

  

