
<div class="wrapper" style="padding-bottom: 20px;">
    <div class="h-100 p-5 bg-light border rounded-3" style="padding-bottom: 30px;margin-bottom: 20px;">
      <h1 class="display-4">Welcome to <strong>Taskalert v2</strong></h1>
      <hr class="my-4">
      <p>Utilize the navigation bar below to go through our site and of course <em>have fun!</em></p>
      <a href="#" class="btn btn-outline-info btn-lg " tabindex="-1" role="button" aria-disabled="true">
        <i class="ph-bold ph-user" style="font-size:18px;margin-right: 3px;"></i>
        Login
      </a>
    </div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb" style="position: relative;">
        <li class="breadcrumb-item active" aria-current="page"><a routerLink="/"> Home</a></li>
        <li class="breadcrumb-item"><a routerLink="/votes"> Skill stats</a></li>
        <li class="breadcrumb-item"><a routerLink="/myskills"> Give your rating</a></li>
        <li class="breadcrumb-item"><a href="https://nkml.pythonanywhere.com/api/schema/swagger-ui/" target="_blank" style="position:absolute;right:10px;"><i class="ph-fill ph-arrow-square-out"></i>API documentation</a></li>
      </ol>
    </nav>

  

    
    <section>
        <router-outlet />
    </section>
  </div>

  

