<div class="skill-section-header" style="margin-top: 30px;">
    <h3>Project "Taskalert v2" Overview</h3>
    <div class="title-border"></div>
  </div>


 <p class="leading">
  The Taskalert project is an innovative real-time notes reminder application designed to enhance user engagement and productivity. Built using the MEAN stack (MongoDB, NodeJS, Express, Angular) and Angular Material 3, the app leverages PusherJS for dynamic push notifications, ensuring timely reminders and seamless communication.
</p>
<p style="margin-bottom: 5px;"><strong>Key Features</strong></p>
<ul style="">
  <li><strong>Full Stack Application</strong>:  Developed with Angular and Angular Material 3 for a responsive front end. </li>
  <li><strong>Dynamic Backend</strong>:  The application’s backend is powered by Python and Django, providing a robust RESTful API that facilitates CRUD operations and BREAD methods over the manipulated schema. It also supports custom filtering and advanced search endpoints, backed by MongoDB Atlas text search indexing. You can explore the application at the following link: <a href="https://nkml.pythonanywhere.com/" target="_blank" rel="noopener noreferrer">Taskalert Backend App</a></li>
  <li><strong>Advanced Tools</strong>:
    <ul>
      <li>Python and Django</li>
      <li>PyMongo and MongoEngine (both serving as MongoDB drivers)</li>
      <li>Django REST Framework (DRF) and drf_spectacular for API documentation and management</li>
    </ul>
  </li>
  
</ul>
<p style="margin-bottom: 5px;"><strong>Next Improvement</strong></p>
<ul>
  <li><strong>Collaborative Task Editing</strong>:The next phase of development focuses on enabling users (task editors) to collaborate on task editing. To achieve this, we plan to implement RabbitMQ as a message broker, which will facilitate real-time synchronization of text edits. Additionally, Django Channels combined with WebSockets will allow for instant updates across the front-end application, enhancing the collaborative experience.</li>
  <li><strong>Undo and Redo</strong>: We propose ourself to manage internal note/task history when updating to enable to recover a last state of the notes content</li>
  <li><strong>Centralized State Management</strong>: Another key feature we are trying to implement is real time management of user tasks state accross multiple devices using NgRx  </li>
</ul>
<p>
The Taskalert project represents a forward-thinking solution for managing notes and reminders, integrating cutting-edge technologies and agile development practices. With a robust and scalable architecture, effective inter-service communication, and a focus on user experience, the application is poised to deliver high performance while ensuring security and reliability.
</p>
