<div class="skill-section-header" style="margin-top: 30px;">
    <h3>Project "Taskalert v2" Overview</h3>
    <div class="title-border"></div>
  </div>
  <p class="leading">
    The "Taskalert" project is a real-time notes reminder application developed using the MEAN stack (MongoDB, NodeJS, Express, Angular) and Angular Material 3. The application utilizes PusherJS for dynamic push notifications, thereby enhancing user engagement and productivity.
  </p>
  <p style="margin-bottom: 5px;">Following are some keypoints that has been focused on:</p>
  <ul style="">
    <li>Real-time Notes Reminder Application</li>
    <li>Robust and Scalable Architecture</li>
    <li>Message Broker Service</li>
    <li>Collaborative Task editing</li>
    <li>Task Filtering</li>
  </ul>

 <p>
  The "Taskalert" project offers an innovative solution for managing notes reminders, integrating modern technologies and agile development practices. With a scalable architecture and effective interservice communication, the application ensures a smooth and interactive user experience while maintaining security and performance.
 </p>